button,
div,
form,
input {
    margin: 10px;
}

input, button {
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.8rem;
    background: #ffffff;
}

.container {
    height: 100%;
    overflow: auto;
    position: relative;
    margin: 0;
    padding: 0 1rem;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
    background: linear-gradient(to top, #000046, #1cb5e0) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.music-note {
    color: #ffffff;
    font-size: 3rem;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

h1 {
    font-family: 'Alfa Slab One', sans-serif;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 300;
}

.band {
    float: left;
}

.box {
    padding: 0.5rem;
}

.fav:before{
    content: "\2764";
    color: #ffffff;
}
@media only screen and (max-width: 460px) {
    img {
        width: 300px;
        
    }

    #band-view {
        text-align: center;
    }
}